<div class="dialog">
    <div class="basic-info">
        <div class="picture"></div>
        <div class="names">
            <div class="title">
                <label [ngClass]="{collapsed: newAssistant.title != ''}">zvanje</label>
                <input type="text" [(ngModel)]="newAssistant.title" />
            </div>
            <div class="name">
                <label [ngClass]="{collapsed: newAssistant.name != ''}">ime</label>
                <input type="text" [(ngModel)]="newAssistant.name" />
            </div>
            <div class="surname">
                <label [ngClass]="{collapsed: newAssistant.surname != ''}">prezime</label>
                <input type="text" [(ngModel)]="newAssistant.surname" />
            </div>
        </div>
    </div>
    <div class="additional-info">
        <div class="surname">
            <label>Elektronska pošta</label>
            <input type="text" [(ngModel)]="newAssistant.email" />
        </div>
        <div class="surname">
            <label>Kancelarija</label>
            <input type="text" [(ngModel)]="newAssistant.address" />
        </div>
        <div class="surname">
            <label>Boja očiju</label>
            <input type="text" />
        </div>
        <div class="surname">
            <label>Stepen trolovanja</label>
            <input type="text" />
        </div>
    </div>
    <div class="footer">
        <div class="messages">
            <span class="error-message">{{errorMessage}}</span>
            <span class="warning-message">{{warningMessage}}</span>
            <span class="success-message">{{successMessage}}</span>
        </div>
        <div class="buttons">
            <button class="apply flat" (click)="onApply()">Apply</button>
            <button class="cancel flat" (click)="onCancel()">Cancel</button>
            <button class="save" (click)="onSave()">Save</button>
        </div>
    </div>
</div>