@import "../palette";
@import "../themes";
@import "../ljubenovic-toolkit";

:host {

  // Reset
  background-color: transparent;
  outline: none;
  border: none;
  //margin: 0;
  //padding: 0;
  cursor: pointer;

  // Material
  height: 2.5em;
  padding: .5em 1em;
  margin: .5em;
  border-radius: .12em;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;

  transition: all .1s ease-in;

  &[disabled] {
    cursor: not-allowed;
  }

}

:host.r-button-flat {
  background-color: transparent;
  color: rgba(palette($blue, 500), .9); // default

  &:hover:not([disabled]) {
    @include z-depth(.5);
    background-color: rgba(palette($blue), .1); // default
  }

  &:active {
    @include z-depth(1);
  }

  &[disabled] {
    color: rgba(palette($blue), .5); // default
  }

  @each $var, $string in $theme-all-var-string {
    &.#{$string} {
      color: rgba($var, .9);
      &:hover:not([disabled]) {
        background-color: rgba($var, .1);
      }
    }
  }
}

:host.r-button-raised {
  background-color: palette($blue, 500); // default, pregazeno dole konkretnim
  color: rgba(white, .9);
  @include z-depth(1);

  &:hover:not([disabled]) {
    background-color: palette($blue, 400); // default, pregazeno dole konkretnim
  }

  &:active {
    @include z-depth(1.5);
  }

  &[disabled] {
    background-color: desaturate(rgba(palette($blue, 500), .7), 50%);
    color: rgba(white, .5);
  }

  //region Themes
  @each $var, $string in $theme-all-var-string {
    &.#{$string} {
      background-color: $var;

      &:hover:not([disabled]) {
        background-color: tint($var, 10%);
      }

      &[disabled] {
        background-color: desaturate(rgba($var, .7), 50%);
      }
    }
  }
  //endregion

}

:host.r-button-fab {
  background-color: palette($blue, 500);
  color: rgba(white, .9);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  font-size: 36px;
  @include z-depth(1.5);
}