@import "../palette";
@import "../ljubenovic-toolkit";

:host {

  // Reset
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  // Material
  height: 36px;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 2px;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;

  transition: all .1s ease-in;

  &[disabled] {
    cursor: not-allowed;
  }

}

:host.r-button-flat {
  background-color: transparent;
  color: rgba(palette($blue, 500), .9); // default

  &:hover:not([disabled]) {
    @include z-depth(.5);
    background-color: rgba(palette($blue), .1); // default
  }

  &:active {
    @include z-depth(1);
  }

  &[disabled] {
    color: rgba(palette($blue), .5); // default
  }

  &.red {
    color: rgba( palette($red, 500), .9);
    &:hover:not([disabled]) {
      background-color: rgba(palette($red), .1);
    }
  }

  &.yellow {
    color: rgba( palette($yellow, 500), .9);
    &:hover:not([disabled]) {
      background-color: rgba(palette($yellow), .1);
    }
  }

  &.blue {
    color: rgba( palette($blue, 500), .9);
    &:hover:not([disabled]) {
      background-color: rgba(palette($blue), .1);
    }
  }

  &.green {
    color: rgba( palette($green, 500), .9);
    &:hover:not([disabled]) {
      background-color: rgba(palette($green), .1);
    }
  }

  &.orange {
    color: rgba( palette($orange, 500), .9);
    &:hover:not([disabled]) {
      background-color: rgba(palette($orange), .1);
    }
  }

  &.purple {
    color: rgba( palette($purple, 500), .9);
    &:hover:not([disabled]) {
      background-color: rgba(palette($purple), .1);
    }
  }
}

:host.r-button-raised {
  background-color: palette($blue, 500);
  color: rgba(white, .9);
  @include z-depth(1);

  &:hover:not([disabled]) {
    background-color: palette($blue, 400);
  }

  &:active {
    @include z-depth(1.5);
  }

  &[disabled] {
    background-color: rgba(palette($blue, 500), .7);
    color: rgba(white, .6);
  }

  // Boje

  &.red {
    background-color: palette($red, 500);

    &:hover:not([disabled]) {
      background-color: palette($red, 400);
    }
  }

  &.yellow {
    background-color: palette($yellow, 500);

    &:hover:not([disabled]) {
      background-color: palette($yellow, 400);
    }
  }

  &.blue {
    background-color: palette($blue, 500);

    &:hover:not([disabled]) {
      background-color: palette($blue, 400);
    }
  }

  &.orange {
    background-color: palette($orange, 500);

    &:hover:not([disabled]) {
      background-color: palette($orange, 400);
    }
  }

  &.green {
    background-color: palette($green, 500);

    &:hover:not([disabled]) {
      background-color: palette($green, 400);
    }
  }

  &.purple {
    background-color: palette($purple, 500);

    &:hover:not([disabled]) {
      background-color: palette($purple, 400);
    }
  }
}

:host.r-button-fab {
  background-color: palette($blue, 500);
  color: rgba(white, .9);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  font-size: 36px;
  @include z-depth(1.5);
}