@import "../ljubenovic-toolkit";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, .33);
  z-index: 100;
  -webkit-transform: translateZ(0);
  opacity: 0;
  display: none;
}

:host.visible {
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;

}

:host.visible .r-dialog-wrapper-outer {
  display: flex;
  background-color: white;
  @include z-depth(2);
  border-radius: 2px;
}