@import "../ljubenovic-toolkit";
@import "../palette";

:host {
  position: relative;
  font-size: 1em;
  height: 2em;
  display: flex;

  .r-dropdown {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start; // levo
    align-items: flex-end; // dole
    cursor: pointer;

    // {{label}}
    label {
      position: absolute;
      color: rgba(black, .45);
      padding: 0;
      margin: 0;
      top: 0;
      font-size: .6em;
      font-weight: normal;

      &::after {
        content: ':';
      }
    }

    // {{currSelectedString}}
    span {
      display: inline-block;
      box-shadow: 0 -1px 0 0 rgba(black, .2) inset;
      position: relative;
      width: 100%;
      box-sizing: border-box;

      /*&::after {
        content: "v";
        position: absolute;
        right: 0;
      }*/
    }

    // Vreme koje treba onom čudu ispod inputa da se pojavi pri fokusiranju
    $time-highlight: .5s;
    // TODO ovo moze da se refaktorise, da se izvuce u neki globalni fajl posto se koristi i ovde i na input
    // Mada realno i nije mnogo ponavljanja, samo na dva mesta (zasad).
    %line-effect-hidden {
      position: absolute;
      width: 0;
      left: 50%;
      height: 3px;
      bottom: -2px;
      opacity: .5;
      transition: all $time-highlight ease;
    }

    %line-effect-visible {
      width: 100%;
      left: 0;
      opacity: 1;
    }

    // Efekat na dnu ako je expandovano
    .line-effect {
      @extend %line-effect-hidden;
      background-color: palette($blue);

      &.highlight {
        @extend %line-effect-visible;
      }
    }
  }

}

:host .r-dropdown-items-wrapper {

  $padding-top-bottom-outer: 1ex;
  $padding-left-right-inner: 1em;

  display: block;
  position: absolute;
  padding: $padding-top-bottom-outer 0;
  background-color: white;
  @include z-depth(1);
  overflow: hidden;
  border-radius: 2px;
  opacity: 1;
  transition: opacity .33s ease;
  z-index: 5;

  left: -$padding-left-right-inner;
  // top se podesava u angularu
  width: calc(100% + #{2 * $padding-left-right-inner});

  .r-dropdown-item {

    padding: .66ex $padding-left-right-inner;

    &:hover {
      background-color: palette($blue-grey, 50);
    }
  }

  &.hidden {
    display: none;
    opacity: 0;
    transition: opacity .33s ease; //TODO zasto nece?
  }

}

.invisible-blackout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  // background-color: rgba(black, .5);
}