@import "../palette";
@import "../themes";

// Vreme koje treba labeli da se pomeri nagore/nadole
$time-label: .2s;

// Vreme koje treba onom čudu ispod inputa da se pojavi pri fokusiranju
$time-highlight: .5s;

:host {
  position: relative;
  font-size: 1em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  label {
    position: absolute;
    color: rgba(black, .6);
    padding: 0;
    margin: 0;
    top: 1.23ex; // Trial and error, ne dirati. Isprobano na font-size 12px, 16px, 24px i 36px.
    transition: all $time-label;
    font-weight: normal;
    z-index: 1;

    &::after {
      content: ":";
      opacity: 0;
      transition: opacity $time-label;
    }

    &.collapsed {
      top: 0;
      font-size: 0.6em;
      color: rgba(black, .45);

      &::after {
        opacity: 1;
      }
    }

    &.highlight {
      color: palette($blue); // default
    }
  }

    input {
        background-color: transparent;
        font-size: 1em;
        outline: none;
        border: none;
        box-shadow: 0 -1px 0 0 rgba(black, .2) inset;
        width: 100%;
        color: rgba(black, 9);
        z-index: 2; // da bi input mogao da udje u focus i kada se klikne preko labele dok je spustena preko inputa
    }

    .validation-icon {
      position: absolute;
      width: 1em;
      height: 1em;
      font-size: 1em;
      line-height: 1em;
      top: calc((100% - #{1em}) / 2); // 1em kao height
      right: 0;
    }

  // TODO ovo moze da se refaktorise, da se izvuce u neki globalni fajl posto se koristi i ovde i an dropdown
  // Mada realno i nije mnogo ponavljanja, samo na dva mesta (zasad).
  %line-effect-hidden {
    position: absolute;
    width: 0;
    left: 50%;
    height: 3px;
    bottom: -2px;
    opacity: .5;
    transition: all $time-highlight ease;
  }

  %line-effect-visible {
    width: 100%;
    left: 0;
    opacity: 1;
  }

  .validation-effect {
    @extend %line-effect-hidden;
    background-color: palette($red);

    &.visible {
      @extend %line-effect-visible;
    }
  }

    // Ono čudo ispod što se pojavljuje na fokus
  .line-effect {
    @extend %line-effect-hidden;
    background-color: palette($blue); // default

    &.highlight {
      @extend %line-effect-visible;
    }
  }
}

:host.dark-theme {
    label {
        color: rgba(white, .6);

        &.collapsed {
            color: rgba(white, .45);
        }
    }

    input[type="text"] {
        color: rgba(black, 9);
        box-shadow: 0 -1px 0 0 rgba(white, .2) inset;
    }

    // Čudo što se pojavljuje na dnu pri fokusu
    .line-effect {
    }
}

//region Themes
@each $var, $string in $theme-all-var-string {
  :host.#{$string} {
    .line-effect {
      background-color: $var;
    }
    label.highlight {
      color: $var;
    }
  }
}
//endregion

