@import "../palette";
@import "../ljubenovic-toolkit";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    padding: .6em .8em;
    display: block;
    text-align: center;
    color: rgba(white, .9);
    background-color: palette($blue); // default, za svaki slucaj
    @include z-depth(.5);
  }

  .selected {
    font-weight: bold;
  }

  &.red { h2 { background-color: palette($red); } .selected { color: palette($red) } }
  &.yellow { h2 { background-color: palette($yellow); } .selected { color: palette($yellow) } }
  &.blue { h2 { background-color: palette($blue); } .selected { color: palette($blue) } }
  &.orange { h2 { background-color: palette($orange); } .selected { color: palette($orange) } }
  &.green { h2 { background-color: palette($green); } .selected { color: palette($green) } }
  &.purple { h2 { background-color: palette($purple); } .selected { color: palette($purple) } }
}