@import "../palette";
@import "../themes";
@import "../ljubenovic-toolkit";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    padding: .6em .8em;
    display: block;
    text-align: center;
    color: rgba(white, .9);
    background-color: palette($blue); // default, za svaki slucaj
    @include z-depth(.5);
  }

  .selected {
    font-weight: bold;
  }

  //region Themes
  @each $var, $string in $theme-all-var-string {
    &.#{$string} {

      h2 {
        background-color: $var;
      }

      .selected {
        color: $var;
      }
    }
  }
  //endregion

}