@import "../palette";
@import "../themes";
@import "../ljubenovic-toolkit";

:host {
  background-color: white;
  @include z-depth(1);
  width: 1392px;
  height: 860px;
  max-width: calc(95vw - 20px);
  max-height: calc(95vh - 20px);
  //overflow: hidden;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

:host r-stepper-header {
  display: flex;
  justify-content: space-between;
  padding: 36px 28px;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  @include z-depth(.5);
  position: relative;
  overflow: hidden; // zbog ripple

  // Linija kroz sve
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(black, .1);
    height: 1px;
    left: 36px;
    right: 36px;
    bottom: 50%;
    z-index: 1;
  }

  & > div {
    display: flex;
    align-items: center;
  }

  .r-stepper-step-circle {
    background-color: desaturate(palette($blue), 100%); // default
    width: 12px;
    height: 12px;
    line-height: 12px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    color: rgba(white, .9);
    border-radius: 50%;
    font-size: .85em;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;

    // Da sakrije malo linije ispod koraka
    &::before {
      content: '';
      position: absolute;
      background-color: white;
      left: -12px;
      width: 12px;
      height: 100%;
      top: 0;
      bottom: 0;
      z-index: 2;
    }

    // Ripple efekat
    &::after {
      content: '';
      position: absolute;
      background-color: transparent;
      width: 90%;
      height: 90%;
      top:  5%;
      left: 5%;
      z-index: 3;
      border-radius: 50%;
      box-shadow: 0 0 0 0px rgba(desaturate(palette($blue), 100%), 0.5); // default
    }
  }

  .r-stepper-step-title {
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
    z-index: 3;
    padding-bottom: .4ex; // da se malo bolje gadja sa linijom ispod koraka
  }


  .current {

    .r-stepper-step-circle {
      background-color: palette($blue); // default

      // Ripple effect
      &::after {
        box-shadow: 0 0 0 64px rgba(palette($blue), 0); // default
        transition: box-shadow .33s ease-out;
      }
    }

    .r-stepper-step-title {
      //font-weight: bold; //TODO zbog ovoga zdrakne malo http://stackoverflow.com/questions/556153/inline-elements-shifting-when-made-bold-on-hover
    }
  }

  .finished  {

    .r-stepper-step-circle {
      background-color: palette($blue); // default

    }
  }
}

:host .r-steps-container {
  flex: 1 1 auto;
  //background-color: rgba(black, .05);
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  position: relative;

  r-step {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    //overflow: auto;
    display: none;

    &.show {
      display: block;
    }
  }
}

:host .r-stepper-footer {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

// Themes

:host.red r-stepper-header {
  $color: $theme-material-red;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.yellow r-stepper-header {
  $color: $theme-material-yellow;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.blue r-stepper-header {
  $color: $theme-material-blue;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.green r-stepper-header {
  $color: $theme-material-green;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.orange r-stepper-header {
  $color: $theme-material-orange;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.purple r-stepper-header {
  $color: $theme-material-purple;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.sunset-purple r-stepper-header {
  $color: $theme-sunset-purple;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.sunset-red r-stepper-header {
  $color: $theme-sunset-red;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.sunset-orange r-stepper-header {
  $color: $theme-sunset-orange;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.sunset-yellow r-stepper-header {
  $color: $theme-sunset-yellow;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.ice-darkest r-stepper-header {
  $color: $theme-ice-darkest;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.ice-darker r-stepper-header {
  $color: $theme-ice-darker;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.ice-melted r-stepper-header {
  $color: $theme-ice-melted;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.ice-green r-stepper-header {
  $color: $theme-ice-green;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.neon-empty r-stepper-header {
  $color: $theme-neon-empty;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.neon-diamond r-stepper-header {
  $color: $theme-neon-diamond;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.neon-gemstone r-stepper-header {
  $color: $theme-neon-gemstone;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

:host.neon-poison r-stepper-header {
  $color: $theme-neon-poison;
  .r-stepper-step-circle {
    background-color: desaturate($color, 100%);
    &::after {
      box-shadow: 0 0 0 0 rgba(desaturate($color, 100%), 0.5);
    }
  }
  .current {
    .r-stepper-step-circle {
      background-color: $color;
      &::after {
        box-shadow: 0 0 0 64px rgba($color, 0);
      }
    }
  }
  .finished  {
    .r-stepper-step-circle {
      background-color: $color;
    }
  }
}

