@import "../ljubenovic-toolkit";
@import "../palette";

:host {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  $padding: 0.5em;
  padding: $padding;
  box-sizing: border-box;
  transition: all .3s ease;
  z-index: 2;
  overflow: hidden;
  @include z-depth(1);
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */


  & > span {
    cursor: default;
    display: block;
    transition: all .3s ease;

    &.times { font-size: 0.8em; }
    &.title { font-size: 1.2em; font-weight: bold; }
    &.type  { font-size: 0.8em; opacity: .7; font-style: italic; }
    &.text  { font-size: 0.9em; font-style: italic; }
  }
}

:host.expanded {
  z-index: 20!important;
  @include z-depth(2);
  padding: 1.5em;
  background-color: white;
  cursor: default;

  & > span {

    &.times { font-size: 1.2em; }
    &.title { font-size: 2.4em; font-weight: bold; }
    &.full-name { font-size: 3em; font-weight: bold; }
    &.type  { font-size: 1.0em; opacity: .8; font-style: italic; }
    &.text  { font-size: 1.0em; font-style: italic; }
  }
}


//region Notifikacija za notifikacije (yo dwag)
.notification-notification {
  $margin: .7em;
  position: absolute;
  top: $margin;
  right: $margin;
  width: 2em;
  height: 2em;
  font-size: 1em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  i {
    color: palette($blue); // default
  }

  .counter {
    background-color: palette($red, a400);
    $s: 1em;
    width: $s;
    height: $s;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    border: white 2px solid;
    top: -.3em;
    right: -.3em;
    color: white;
    position: absolute;
    font-family: Arial, serif;
    font-weight: bold;

    span {
      display: block;
      font-size: $s * .66;
    }
  }
}
//endregion

//region Themes
@each $string, $var in $all-colors-string-var {
  :host.#{$string} {
    background-color: palette($var);

    &.expanded {
      background-color: mix(palette($var, 50), white);
      @include z-depth(3);
      //box-shadow: 0 0 0 0.7em palette($value) inset,
    }

    .notification-notification {

      i {
        color: palette($var);
      }
    }

    &:not(.active) {
      color: rgba(white, .54);
      background-color: desaturate(palette($var), 70%);

      &.expanded {
        background-color: mix(desaturate(palette($var, 50), 70%), white);
      }
    }
  }
}
//endregion