@import "palette";

:host {
    position: relative;
    height: 2.2em; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    font-size: 1.5em;

    label {
        position: absolute;
        color: rgba(white, .6);
        padding: 0;
        margin: 0;
        top: 1ex;
        transition: all .2s;
        font-weight: normal;

        &::after {
            content: ":";
            opacity: 0;
            transition: opacity .2s;
        }

        &.collapsed {
            top: 0;
            font-size: 0.6em;
            color: rgba(white, .45);

            &::after {
                opacity: 1;
            }
        }
    }

    input[type="text"] {
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: 0 -1px 0 0 rgba(white, .2) inset;
        width: 100%;
        color: rgba(white, 9);
    }

    div:last-child {
        width: 0;
        left: 50%;
        height: 2px;
        opacity: .5;
        position: absolute;
        bottom: -2px;
        background-color: rgba(white, .2);
        transition: all .33s;

        &.highlight {
            width: 100%;
            left: 0;
            opacity: 1;
        }
    }
}

:host.light-theme {
    label {
        color: rgba(black, .6);

        &.collapsed {
            color: rgba(black, .45);
        }
    }

    input[type="text"] {
        color: rgba(black, 9);
        box-shadow: 0 -1px 0 0 rgba(black, .2) inset;
    }

    div:last-child {
        background-color: rgba(black, .2);
    }
}
