@import "../palette";
@import "../ljubenovic-toolkit";

:host {
  position: fixed;
  background-color: rgba(palette($blue-grey, 900), .9);
  color: rgba(white, .86);
  border-radius: .1em;
  padding: .5em .8em;
  bottom: 2em;
  left: 3em;
  z-index: 999;
}
