<r-bulletin-board-parameters
        *ngIf="possibleChoices && possibleChoices.length > 0"
        [possibleChoices]="possibleChoices"
        [(chosenChoices)]="chosenPossibleChoices"
        [groupId]="groupId"
        [primaryColor]="primaryColor"
>
</r-bulletin-board-parameters>

<template [ngIf]="possibleChoices && possibleChoices.length === 0 && allChoices && allChoices.length > 0">
    <span>{{_globalService.translate('no_ads')}}</span>
</template>

<r-bulletin-board-add-ad
        *ngIf="allChoices && allChoices.length > 0"
        [possibleChoices]="allChoices"
        [chosenChoices]="chosenAllChoices"
        [groupId]="groupId"
        [primaryColor]="primaryColor"
>
</r-bulletin-board-add-ad>

<template [ngIf]="allChoices && allChoices.length === 0">
    <span>{{_globalService.translate('no_possibilities')}}</span>
</template>
