<div class="department-options" *ngIf="department">

    <h1>{{department.departmentName}} ({{department.year}})</h1>

    <dl r-dl>
        <dt>ID</dt>
        <dd>{{department.departmentID}}</dd>
        <dt>Ime</dt>
        <dd>{{department.departmentName}}</dd>
        <dt>Godina</dt>
        <dd>{{department.year}}</dd>
    </dl>

    <p>{{errorMessage}}</p>

    <div class="flex-spacer"></div>

    <r-dialog #newDivisionDialog [source]="newDivisionButton">
        <r-division-creator departmentID ="{{department.departmentID}}">

        </r-division-creator>
    </r-dialog>

    <r-dialog #allStudentsDialog [source]="allStudentsButton">
        <div style="height: 680px; width: 1100px;" *ngIf="students">
            <!--<pre>{{students | json}}</pre>-->
            <r-multiple-selector [(val)]="selectedStudents" primaryColor="MaterialRed" style="height: 100%; width: 100%; box-sizing: border-box">
                <r-multiple-selector-item *ngFor="let student of students; let i = index" [val]="student.indexNumber" class="narrow">
                    <div class="multiple-selector-item">
                        <span class="primary">{{student.UniMembers.name}} {{student.UniMembers.surname}}</span>
                        <span class="secondary">
                            <span class="index-number"><i class="fa fa-book"></i><span>{{student.indexNumber}}</span></span>
                            <span class="e-mail"><i class="fa fa-envelope"></i><span>{{student.UniMembers.email}}</span></span>
                        </span>
                    </div>
                </r-multiple-selector-item>
            </r-multiple-selector>
        </div>
    </r-dialog>

    <r-dialog #globalScheduleDialog [source]="globalScheduleButton">
        Globalni raspored
    </r-dialog>

    <r-dialog class="json-debugging" #debuggingDialog [source]="debuggingButton">
        <pre>{{department | json | trim}}</pre>
    </r-dialog>

    <div class="footer-buttons">

        <button r-button flat #debuggingButton
                text="JSON" (click)="debuggingDialog.open()"
                [primaryColor]="primaryColor">
        </button>

        <div class="flex-spacer"></div>

        <button r-button raised #newDivisionButton
                text="Nova raspodela"
                (click)="newDivisionDialog.open()"
                [primaryColor]="primaryColor">
        </button>


        <button r-button raised #allStudentsButton
                [text]="'Studenti'"
                (click)="allStudentsDialog.open()"
                [primaryColor]="primaryColor">
        </button>


        <button r-button raised #globalScheduleButton
                [text]="'Globani raspored'"
                (click)="globalScheduleDialog.open()"
                [primaryColor]="primaryColor">
        </button>
    </div>
</div>