<div class="group-options" *ngIf="group">

    <h1>{{group.name}}</h1>

    <dl r-dl>
        <dt>{{_globalService.translate('id')}}</dt>
        <dd>{{group.groupID}}</dd>
        <div style="opacity: .5" *ngIf="false">
            <dt>{{_globalService.translate('duration')}}</dt>
            <dd>{{group.timeSpan && group.timeSpan.startDate}} — {{group.timeSpan && group.timeSpan.endDate}}</dd>
            <dt>{{_globalService.translate('period')}}</dt>
            <dd>{{group.timeSpan && group.timeSpan.period}}</dd>
        </div>
        <dt>{{_globalService.translate('duration')}}</dt>
        <dd>{{descriptiveString}}</dd>
    </dl>

    <!-- kek todo -->
    <p>{{errorMessage}}</p>

    <div class="flex-spacer"></div>
    <r-dialog #editGroupDialog [source]="editGroupButton">
        <div>
            <group-edit
                    [group]="group"
                    (close)="editGroupDialog.close()"
            ></group-edit>
        </div>
    </r-dialog>

    <r-dialog #cancelClassDialog [source]="cancelClassButton">
        <div *ngIf="group.timeSpanID">
            <cancel-class [groupId]="group.groupID"
                          [primaryColor]="primaryColor"
                          [secondaryColor]="secondaryColor"
                          (close)="cancelClassDialog.close()">
            </cancel-class>
        </div>
    </r-dialog>

    <r-dialog #combinedScheduleDialog [source]="combinedScheduleButton">
        <div id="combinedSchedule">
            <r-timetable [groupID]="group.groupID"></r-timetable>
        </div>
    </r-dialog>

    <r-dialog #addNotificationDialog [source]="addNotificationButton">
        <div>
            <add-activity [groupId]="group.groupID"
                          [primaryColor]="primaryColor"
                          (close)="addNotificationDialog.close()"
            >
            </add-activity>
        </div>
    </r-dialog>

    <r-dialog #removeGroupDialog [source]="removeGroupButton">
        <div class="remove-group-dialog">
            <div class="dialog-text">{{_globalService.translate('delete_group__1')}}<b>{{group.name}}</b>{{_globalService.translate('delete_group__2')}}</div>
            <div class="dialog-controls">
                <button r-button flat [text]="_globalService.translate('cancel')"
                        (click)="removeGroupDialog.close()" [primaryColor]="primaryColor">
                    {{_globalService.translate('cancel')}}
                </button>
                <button r-button raised [text]="_globalService.translate('delete')"
                        (click)="removeGroup()" [primaryColor]="primaryColor">
                    {{_globalService.translate('delete')}}
                </button>
            </div>
        </div>
    </r-dialog>

    <r-dialog class="json-debugging" #debuggingDialog [source]="debuggingButton">
        <pre>{{group | json | trim}}</pre>
    </r-dialog>

    <div class="footer-buttons">

        <button r-button flat #debuggingButton
                [text]="_globalService.translate('json')" (click)="debuggingDialog.open()"
                [primaryColor]="primaryColor">
        </button>

        <div class="flex-spacer"></div>

        <button r-button raised #editGroupButton
                [text]="_globalService.translate('group_edit')"
                (click)="editGroupDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('group_edit')}}
        </button>

        <button *ngIf="group.timeSpanID"
                r-button raised #cancelClassButton
                [text]="_globalService.translate('cancel_class')"
                (click)="cancelClassDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('cancel_class')}}
        </button>

        <button r-button raised #combinedScheduleButton
                [text]="_globalService.translate('combined_timetable')"
                (click)="combinedScheduleDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('combined_timetable')}}
        </button>

        <button r-button raised #addNotificationButton
                [text]="_globalService.translate('add_announcement')"
                (click)="addNotificationDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('add_announcement')}}
        </button>

        <button r-button raised #removeGroupButton
                [text]="_globalService.translate('delete_group')"
                (click)="removeGroupDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('delete_group')}}
        </button>

    </div>
</div>