
// SHAME: ovo se ponavlja svuda gde ima yes/no dialog
.remove-group-dialog {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 260px;

  .dialog-text {
    padding: 1em;
  }

  .dialog-controls {
    display: flex;
    justify-content: space-between;
  }
}

#combinedSchedule {
  width: 90vw;
  height: 90vh;
  position: relative;
}
