<div class="student-options" *ngIf="student">

    <h1>{{student.name}} {{student.surname}}</h1>

    <dl r-dl>
        <dt>ID</dt>
        <dd>{{student.studentID}}</dd>
        <dt>Indeks</dt>
        <dd>{{student.indexNumber}}</dd>
    </dl>

    <p>{{errorMessage}}</p>

    <div class="flex-spacer"></div>

    <r-dialog #moveToGroupDialog [source]="moveToGroupButton">
        <div style="width: 500px; height:600px;">
            <move-student-to-group
                    *ngIf="_studentId > 0"
                    [studentId]="_studentId"
                    [groupId]="groupId"
                    [divisionId]="divisionId">
            </move-student-to-group>
        </div>
    </r-dialog>

    <r-dialog #removeFromGroupDialog [source]="removeFromGroupButton">
        <div style="width: 500px; height:600px;">
            <label>Da li ste sigurni?</label>
            <button r-button raised text="izbaci" (click)="removeFromGroup()"></button>
            <!-- TODO na ne da se minimizira dialog -->
            <button r-button flat text="otkazi"></button>
        </div>
    </r-dialog>

    <r-dialog class="json-debugging" #debuggingDialog [source]="debuggingButton">
        <pre>{{student | json | trim}}</pre>
    </r-dialog>

    <div class="footer-buttons">

        <button r-button flat #debuggingButton
                text="JSON" (click)="debuggingDialog.open()"
                [primaryColor]="primaryColor">
        </button>

        <div class="flex-spacer"></div>

        <button r-button raised #moveToGroupButton
                text="Pomeri u grupu"
                (click)="moveToGroupDialog.open()"
                [primaryColor]="primaryColor">
        </button>

        <button r-button raised #removeFromGroupButton
                text="Izbaci iz grupe"
                (click)="removeFromGroupDialog.open()"
                [primaryColor]="primaryColor">
        </button>
    </div>
</div>