<div class="student-options" *ngIf="student">

    <h1>{{student.name}} {{student.surname}}</h1>

    <dl r-dl>
        <dt>{{_globalService.translate('id')}}</dt>
        <dd>{{student.studentID}}</dd>
        <dt>{{_globalService.translate('index_number')}}</dt>
        <dd>{{student.indexNumber}}</dd>
    </dl>

    <p>{{errorMessage}}</p>

    <div class="flex-spacer"></div>

    <r-dialog #moveToGroupDialog [source]="moveToGroupButton">
        <div>
            <move-student-to-group
                    *ngIf="_studentId > 0"
                    [studentId]="_studentId"
                    [groupId]="groupId"
                    [divisionId]="divisionId"
                    (close)="moveToGroupDialog.close()"
                    [primaryColor]="primaryColor"
            >
            </move-student-to-group>
        </div>
    </r-dialog>

    <r-dialog #removeFromGroupDialog [source]="removeFromGroupButton">
        <div class="remove-from-group-dialog">
            <div class="dialog-text">
                {{_globalService.translate('remove_student__1')}}
                <b>{{student.UniMembers.name}} {{student.UniMembers.surname}}</b>
                {{_globalService.translate('remove_student__2')}}
                <b>{{student.indexNumber}}</b>{{_globalService.translate('remove_student__3')}}</div>
            <div class="dialog-controls">
                <button r-button flat [text]="_globalService.translate('cancel')"
                        (click)="removeFromGroupDialog.close()" [primaryColor]="primaryColor">
                    {{_globalService.translate('cancel')}}
                </button>
                <button r-button raised [text]="_globalService.translate('kick')"
                        (click)="removeFromGroup(); removeFromGroupDialog.close()" [primaryColor]="primaryColor">
                    {{_globalService.translate('kick')}}
                </button>
            </div>
        </div>
    </r-dialog>

    <r-dialog class="json-debugging" #debuggingDialog [source]="debuggingButton">
        <pre>{{student | json | trim}}</pre>
    </r-dialog>

    <div class="footer-buttons">

        <button r-button flat #debuggingButton
                [text]="_globalService.translate('json')" (click)="debuggingDialog.open()"
                [primaryColor]="primaryColor">
        </button>

        <div class="flex-spacer"></div>

        <button r-button raised #moveToGroupButton
                [text]="_globalService.translate('move_to_group')"
                (click)="moveToGroupDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('move_to_group')}}
        </button>

        <button r-button raised #removeFromGroupButton
                [text]="_globalService.translate('kick_student')"
                (click)="removeFromGroupDialog.open()"
                [primaryColor]="primaryColor">
            {{_globalService.translate('kick_student')}}
        </button>
    </div>
</div>