<header>

    <div class="profile-picture">
        <div style="background-image: url('{{avatarUrl}}')"></div>
    </div>

    <div class="basic-info">
        <div class="name">{{name}} {{surname}}</div>
        <div class="details">
            <div class="office"><i class="fa fa-briefcase"></i> {{address}}</div>
            <div class="e-mail"><i class="fa fa-envelope"></i> {{email}}</div>
        </div>
    </div>

    <button #StudentEditButton>
        <i class="fa fa-pencil"></i>
    </button>

    <div class="flex-spacer"></div>

    <div class="options">
        <button (click)="languagePickerOpened = !languagePickerOpened"
                 *ngIf="showLanguagePicker">
            <i class="fa fa-globe"></i>
        </button>
        <button (click)="themePickerOpened = !themePickerOpened"
                *ngIf="showThemePicker">
            <i class="fa fa-paint-brush"></i>
        </button>
    </div>


    <div class="dropdown language-dropdown" [class.hidden]="!languagePickerOpened">
        <div class="dropdown-item" (click)="language = 'en'; languagePickerOpened = false">
            <span class="language-name">English</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg')"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'sr'; languagePickerOpened = false">
            <span class="language-name">srpski</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Flag_of_Serbia.svg')"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'src'; languagePickerOpened = false">
            <span class="language-name">српски</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Flag_of_Serbia.svg')"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'eo'; languagePickerOpened = false">
            <span class="language-name">Esperanto</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f5/Flag_of_Esperanto.svg'); background-position: 0% center"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'es'; languagePickerOpened = false">
            <span class="language-name">español</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg')"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'de'; languagePickerOpened = false">
            <span class="language-name">deutsch</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg')"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'fr'; languagePickerOpened = false">
            <span class="language-name">français</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg')"></div>
        </div>
        <div class="dropdown-item" (click)="language = 'ja'; languagePickerOpened = false">
            <span class="language-name">日本語</span>
            <div class="flag" style="background-image: url('https://upload.wikimedia.org/wikipedia/en/9/9e/Flag_of_Japan.svg')"></div>
        </div>
    </div>
    <div class="invisible-blackout" (click)="languagePickerOpened = false"></div>


    <div class="dropdown theme-dropdown" [class.hidden]="!themePickerOpened">
        <div class="dropdown-item" (click)="theme = 'material'; themePickerOpened = false">
            <span class="theme-name">Material</span>
            <div class="theme-preview">
                <div style="background-color: #FFC107"></div>
                <div style="background-color: #03A9F4"></div>
                <div style="background-color: #F44336"></div>
                <div style="background-color: #4CAF50"></div>
            </div>
        </div>
        <div class="dropdown-item" (click)="theme = 'sunset'; themePickerOpened = false">
            <span class="theme-name">Sunset</span>
            <div class="theme-preview">
                <div style="background-color: #811d5e"></div>
                <div style="background-color: #fd2f24"></div>
                <div style="background-color: #ff6f01"></div>
                <div style="background-color: #fed800"></div>
            </div>
        </div>
        <div class="dropdown-item" (click)="theme = 'ice'; themePickerOpened = false">
            <span class="theme-name">Ice</span>
            <div class="theme-preview">
                <div style="background-color: #012e40"></div>
                <div style="background-color: #025e73"></div>
                <div style="background-color: #037f8c"></div>
                <div style="background-color: #038c8c"></div>
            </div>
        </div>
        <div class="dropdown-item" (click)="theme = 'neon'; themePickerOpened = false">
            <span class="theme-name">Neon</span>
            <div class="theme-preview">
                <div style="background-color: #0E0B16"></div>
                <div style="background-color: #A239CA"></div>
                <div style="background-color: #4717F6"></div>
                <div style="background-color: #18DD00"></div>
            </div>
        </div>
    </div>
    <div class="invisible-blackout" (click)="themePickerOpened = false"></div>

</header>