@import "../ljubenovic-toolkit";
@import "../palette";

:host {
    width: 100%;
    margin: 12px;
    padding: 12px;
    background-color: white;
    color: rgba(black, .85);
    @include z-depth(1);
}
