<header>
    Assistant Panel
</header>

<main>

    <!-- Liste -->
    <r-departments-list
            (selectDepartment)="onDepartmentSelect($event)"
            [primaryColor]="departmentPrimaryColor"
    >
    </r-departments-list>
    <r-divisions-list
            *ngIf="_selectedDepartmentId != -1"
            [selectedDepartmentId]="_selectedDepartmentId"
            (selectDivision)="onDivisionSelect($event)"
            [primaryColor]="divisionPrimaryColor"
    >
    </r-divisions-list>
    <r-groups-list
            *ngIf="_selectedDivisionId != -1"
            [selectedDivisionId]="_selectedDivisionId"
            (selectGroup)="onGroupSelect($event)"
            [primaryColor]="groupPrimaryColor"
    >
    </r-groups-list>
    <r-students-list
            *ngIf="_selectedGroupId != -1"
            [selectedGroupId]="_selectedGroupId"
            (selectStudent)="onStudentSelect($event)"
            [primaryColor]="studentPrimaryColor"
    >
    </r-students-list>

    <!-- Opcije -->
    <r-assistant-panel-options
            *ngIf="isAtRoot"
    >
    </r-assistant-panel-options>

    <r-department-options
            *ngIf="isAtDepartment"
            [departmentId]="_selectedDepartmentId"
            [primaryColor]="departmentPrimaryColor"
    ></r-department-options>

    <r-division-options
            *ngIf="isAtDivision"
            [divisionId]="_selectedDivisionId"
            (update)="refresh($event)"
            [primaryColor]="divisionPrimaryColor"
    >
    </r-division-options>

    <r-group-options
            *ngIf="isAtGroup"
            [groupId]="_selectedGroupId"
            [primaryColor]="groupPrimaryColor"
    ></r-group-options>

    <r-student-options
            *ngIf="isAtStudent"
            [studentId]="_selectedStudentId"
            [groupId]="_selectedGroupId"
            [primaryColor]="studentPrimaryColor"
    ></r-student-options>

</main>

<footer>
    dep:  {{_selectedDepartmentId}}
    div:  {{_selectedDivisionId}}
    gr:   {{_selectedGroupId}}
    stud: {{_selectedStudentId}}

    <input type="text" [(ngModel)]="_selectedDepartmentId">
    <input type="text" [(ngModel)]="_selectedDivisionId">
    <input type="text" [(ngModel)]="_selectedGroupId">
    <input type="text" [(ngModel)]="_selectedStudentId">
</footer>