@import "../../_ljubenovic-toolkit";
@import "../../_palette";

:host {
    width: 700px;
    height: 460px;
    @include z-depth(2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;

    & > * {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 24px;
    }

    .basic-info {
        @include force-height(220px);
        background-color: palette($blue);
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .picture {
            @include force-height(220px - 48px);
            @include force-width(220px - 48px);
            margin-right: 24px;
            background-color: white;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .names {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            font-size: 16px;
        }
    }

    .additional-info {
        height: 100%;
    }

    .footer {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .messages {
            .error-message {
                color: palette($red);
            }

            .warning-message {
                color: palette($orange);
            }

            .success-message {
                color: palette($green);
            }
        }

        .buttons {
            display: flex;
            align-items: center;
        }
    }

}

