<div class="division-edit" *ngIf="division">
    <label>Ime</label>
    <!--  <input type="text" [{ngModel}]="division.name" />
   <br>
  <label>Tip</label>
   <input type="text" [{ngModel}]="division.divisionType.type" />
   <br>
   <label>Pocetak</label>
   <input type="text" [{ngModel}]="division.beginning" />
   <br>
   <label>Kraj</label>
   <input type="text" [{ngModel}]="division.ending" />
   <br>
   <label>Kreator</label>
   <br>
   <label>{{division.creator.name}} + " " + {{division.creator.surname}}</label>
   <br>
   <label>Kurs</label>

   <div class="division-edit-groups" *ngIf="division.Groups">

   </div>

   -->


</div>