<div class="top">

    <div class="inputs">

        <div class="inputs-top">
            <div class="inputs-left">
                <r-input class="light-theme" [label]="'Ime grupe'" [(val)]="editedGroupName"></r-input>

                <r-dropdown [label]="'Učionica'" [(val)]="editedClassroom">
                    <r-dropdown-item *ngFor="let classroom of classrooms" [value]="classroom.classroomID">
                        {{classroom.number}}
                    </r-dropdown-item>
                </r-dropdown>

                <r-dropdown *ngIf="assistants" [label]="'Asistent'" [(val)]="editedAssistant">
                    <r-dropdown-item *ngFor="let assistant of assistants" [value]="assistant.uniMemberID" >{{assistant.name}} {{assistant.surname}}</r-dropdown-item>
                </r-dropdown>

                <button r-button flat type="button" (click)="getAllAssistants()" [text]="'Svi asistenti'"></button>
            </div>

            <div class="inputs-right">
                <r-dropdown [label]="'Perioda'" [(val)]="editedPeriod">
                    <r-dropdown-item [value]="1">Svake nedelje</r-dropdown-item>
                    <r-dropdown-item [value]="2">Na dve nedelje</r-dropdown-item>
                    <r-dropdown-item [value]="4">Na četiri nedelje</r-dropdown-item>
                    <r-dropdown-item [value]="0">Jednom</r-dropdown-item>
                </r-dropdown>
                <template [ngIf]="editedPeriod && editedPeriod !== 0">
                    <r-dropdown [label]="'Dan u nedelji'" [(val)]="editedDayOfWeek">
                        <r-dropdown-item [value]="1">Ponedeljak</r-dropdown-item>
                        <r-dropdown-item [value]="2">Utorak</r-dropdown-item>
                        <r-dropdown-item [value]="3">Sreda</r-dropdown-item>
                        <r-dropdown-item [value]="4">Četvrtak</r-dropdown-item>
                        <r-dropdown-item [value]="5">Petak</r-dropdown-item>
                        <r-dropdown-item [value]="6">Subota</r-dropdown-item>
                        <r-dropdown-item [value]="0">Nedelja</r-dropdown-item>
                    </r-dropdown>
                    <r-input class="light-theme" [label]="'Početak (HH:MM)'" [(val)]="editedTimeStart"></r-input>
                    <r-input class="light-theme" [label]="'Kraj (HH:MM)'" [(val)]="editedTimeEnd"></r-input>
                </template>
                <template [ngIf]="editedPeriod == 0">
                    <r-input class="light-theme" [label]="'Početak (YYYY-MM-DD HH:MM)'" [(val)]="editedDateTimeStart"></r-input>
                    <r-input class="light-theme" [label]="'Kraj (YYYY-MM-DD HH:MM)'" [(val)]="editedDateTimeEnd"></r-input>
                </template>
            </div>
        </div>

        <div class="in-out-buttons">
            <button r-button raised [text]="'Ubaci u grupu'" primaryColor="MaterialGreen"
                    (click)="moveToChosen(otherStuds.selected)"
            >
            </button>
            <button r-button raised [text]="'Izbaci iz grupe'" primaryColor="MaterialRed"
                    (click)="moveToOthers(chosenStuds.selected); chosenStuds.selected = null">
            </button>
        </div>

    </div>

    <div class="chosen-selector">
        <div>
            <r-students-selector [columns]="2" [title]="'Iz grupe'" #chosenStuds [students]="chosenStudents" primaryColor="MaterialRed">
            </r-students-selector>
        </div>
    </div>

</div>

<div class="others-selector">
    <div>
        <r-students-selector [columns]="3" [title]="'Ostali'" #otherStuds [students]="otherStudents | withoutStudents : chosenStudents" primaryColor="MaterialRed">
        </r-students-selector>
    </div>
</div>

<div class="controls">
    <div>
        <b>as:</b> {{editedAssistant}}
        <b>cl:</b> {{editedClassroom}}
        <b>name:</b> {{editedGroupName}}
        <b>period:</b> {{editedPeriod}}
        <b>day:</b> {{editedDayOfWeek}}
        <b>time start:</b> {{editedTimeStart}}
        <b>time end:</b> {{editedTimeEnd}}
        <b>datetime start:</b> {{editedDateTimeStart}}
        <b>datetime end:</b> {{editedDateTimeEnd}}
    </div>
    <button r-button raised [text]="'Sačuvaj izmene'" type="submit" (click)="save()"></button>
</div>

